body {
    text-align: center;
    background-color: darkcyan;
}

input {
    border-radius: 2px;
    margin: 10px;
}

#submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

#sort {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
}